*{
    font-family:etchAsketch;
    color:#EEA243;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #D33F49;
    padding:50px;
    
}
#container{
    background-color: #D33F49;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: black 5px 5px;
    display:inline-block;
    padding:50px;
}
h1{
    font-size: 3rem;
    font-weight: 900;

}
button{
    border: none;
    background-color: #F0EFF4;
    border-radius: 50%;
    padding:57px 40px;
    box-shadow: rgb(177, 177, 177) 10px 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 1.5rem;
}
.gridOne{
    display:flex;
  
    min-width:2.725rem;
    min-height: 2.725rem;
}
.gridTwo{
    display:flex;
    min-width:1.365rem;
    min-height: 1.365rem;
}
.gridThree{
    display:flex;
    
    min-width:0.6817rem;
    min-height: 0.6817rem;
}
.colored{
    background-color: rgb(62, 69, 77);
}

button:hover{
    cursor: pointer;
    background-color: #EEA243;
    box-shadow: #8d5f26 10px 5px;
}
button:active{
    background-color: #ffb254;
    box-shadow: #ae7530 10px 5px;
}
footer{
    display: flex;
    padding:20px;
    justify-content: space-between;
}

#box{
    background-color: #F0EFF4;
    min-height: 200px;
    border-radius: 25px;
}
#pad{
    border: solid black 4px;
    border-radius: 25px;
    background-color: #F0EFF4;
    height:min-content;
    padding:30px;

    display:flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    width: 700px;
    height: 690px;

    align-self: center;
    flex-wrap: wrap;
}

#btndiv{
    display: flex;
    justify-content: space-around;
    padding:10px 0px;
    border:none;
}
#container.screen{
    display:none
}
#container.screen.active{
    display:block;
}